.conteiner_menu_bar > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
ul > li{
    background-color: gray;
    margin: 15px 5px 0px 0px;
    transition-property: background-color;
    transition-duration: 2s;
}
ul > li:hover{
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
}
li{
    display: flex;
    flex-direction: row;
}
a > img{
    height: 20px;
    width: 90px;
    object-fit: cover;
    object-position: center;
    margin: 0px;
    padding: 0px;
}